<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49911009141-h7qf1c4p9jnepjcd3dj043p74e8qp3n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49911009141-h7qf1c4p9jnepjcd3dj043p74e8qp3n7</string>
	<key>API_KEY</key>
	<string>AIzaSyB9UDO1W64qOD7DKMRKmJZyTPsTXke4Dy0</string>
	<key>GCM_SENDER_ID</key>
	<string>49911009141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codetemplar99.videoapp</string>
	<key>PROJECT_ID</key>
	<string>video-app-5f1d3</string>
	<key>STORAGE_BUCKET</key>
	<string>video-app-5f1d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49911009141:ios:7d30ffb63aed338ad2cd3c</string>
</dict>
</plist>